.banner.card {
    border: 0;
    border-radius: 0;
    background-clip: none;
}

.banner {
    display: none;
}

#header h1 {
    margin: 0px;
    background-color: darkcyan;
    height: 75px;
    text-align: center;
    line-height: 75px;
}

@media (min-width: 768px) {
    .banner {
        display: block;
        background: var(--background-url) no-repeat center center / cover;
    }
}
